*{
  margin: 0%;
  padding: 0%;
}
.container{
  display: flex;
  justify-content: center;
  
  margin-top: 5rem;
  margin-bottom: 2rem;
  
}
.home-image{
  width: 500px;
  height: 500px;
  

}
.input-conatiner{
  display: flex;
  flex-direction: column;
  padding: 1rem;
 
  
}

.para-input{
font-size: 35px;
    
    font-family: cursive;
    font-weight: 900;
    color: #8f3131c2;
  }
.input-inp{
    margin-top: 10rem;
    padding: 10px;
  }
.input-btn{
  padding: 0.7rem 2rem;
  border: 1px solid;
  border-radius: 6px;
  /* font-size: 19px; */
  background:#2bffa5;;
  font-weight: 900;

  }
  @media screen and (max-width: 950px){
      .container{
        flex-direction: column;
        align-items: center;
      }
      .para-input{
        text-align: center;
      }
      .input-inp{
        margin-top: 3rem;
      }
  }
  @media screen and (max-width: 500px){
    .home-image{
      width: 350px;
    }
  }